<h2>{{name}}</h2>
<ul class"no-bullet">
  <li>phone: {{phone}}</li>
  <li>address: {{address}}</li>

  <li><h4>due date: {{due_date}}</h4></li>
  <li>partners_name: {{partners_name}}</li>
  <li>{{notes}}</li>

</ul>
